.container_type{
  margin-top: 10%;
  position: relative;
}
.second_search{
  /* background-color:#B39595 ; */
  height: 85vh;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 2%;
}
.second_search a{
  font-size: 25px;
  font-family:'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #4d4d4d;
}
.third_search{
  margin-top: 1%;
}
.typemoko_second{
  border: none;
  width: 490px;
  height: 55px;
  border-radius: 5px;
  background: #E9E9E9;
  color: #B39595;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.fourth_para{
  color: #A024A3;
  font-family:'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 20px;
  margin-top: 2%;
}.second_search{
  height: 85vh;
  margin-left: 7%;
  margin-top: 2%;
}
.second_search a{
  font-size: 25px;
  font-family:'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #4d4d4d;
}
.third_search{
  margin-top: 1%;
}
.typemoko_second{
  border: none;
  width: 490px;
  height: 55px;
  border-radius: 5px;
  background: #E9E9E9;
  color: #B39595;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.fourth_para{
  color: #A024A3;
  font-family:'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 20px;
  margin-top: 2%;
}


.tow_container {
  border-radius: 5px;
  border: 2px solid #a024a3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: rgba(204, 204, 204, 0.9);
  max-width: 523px;
  margin-top: 2%;
  padding: 10px 13px;
}

.image_wrapper {
  gap: 20px;
  display: flex;
}

.column {
  display: flex;
  flex-direction: column; 
  line-height: normal;
}


.brgy_mo {
  aspect-ratio: 1.08;
  object-fit: contain;
  object-position: center;
  width: 140px;
  overflow: hidden;
  max-width: 100%;
  flex-grow: 1;
}

.location {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.title {  
  color: #4c4c4c;
  border-radius: 5px;
  background-color: #fff;
  justify-content: center;
  padding: 5px 48px 8px 11px;
  font: 700 16px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}


.details {
  display: flex;
  margin-top: 16px;
  flex-direction: column;
}

.div_4 {
  color: #1e1e1e;
  font: 500 12px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}

.div_5 {
  color: #1e1e1e;
  margin-top: 16px;
  white-space: nowrap;
  font: 500 12px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}


.third_container {
  border-radius: 5px;
  border: 2px solid #a024a3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: rgba(204, 204, 204, 0.9);
  max-width: 523px;
  margin-top: 3%;
  padding: 10px 13px;
}

.image_wrapper_two {
  gap: 20px;
  display: flex;
}

.column_tow {
  display: flex;
  flex-direction: column; 
  line-height: normal;
}


.brgy_mo_two{
  aspect-ratio: 1.08;
  object-fit: contain;
  object-position: center;
  width: 140px;
  overflow: hidden;
  max-width: 100%;
  flex-grow: 1;
}

.location_two {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.title_two {  
  color: #4c4c4c;
  border-radius: 5px;
  background-color: #fff;
  justify-content: center;
  padding: 5px 48px 8px 11px;
  font: 700 16px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}


.details_two {
  display: flex;
  margin-top: 16px;
  flex-direction: column;
}

.div_4_two {
  color: #1e1e1e;
  font: 500 12px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}

.div_5_two {
  color: #1e1e1e;
  margin-top: 16px;
  white-space: nowrap;
  font: 500 12px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}



.main_container_bahala{
  display: flex;
  flex-direction: column;
  justify-content: end;

  background-color: aqua;
  position: absolute;
  top: 2.1%;
  left: 50%;
}






